*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0731;
}

.background {
  width: 480px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  height: 280px;
  width: 280px;
  background: linear-gradient(213.65deg, #5346EA 27.85%, #E32FC5 92.61%);
  left: 350px;
  top: -150px;
}

.shape:nth-child(2) {
  width: 104px;
  height: 104px;
  background: linear-gradient(213.65deg, #5E8BFF 27.85%, #FF94F4 92.61%);
  left: -250px;
  top: -20px;
}

.shape:nth-child(3) {
  width: 100px;
  height: 100px;
  background: linear-gradient(153.43deg, #FF15A2 35.67%, #2079FF 119%);
  left: 400px;
  top: 400px;
}

.shape:nth-child(4) {
  width: 150px;
  height: 150px;
  background: linear-gradient(202.43deg, #2EF1AB 20.67%, #5C3DD8 101.3%);
  left: 600px;
  top: 250px;
}

.shape:nth-child(5) {
  width: 80px;
  height: 80px;
  background: linear-gradient(213.65deg, #FF15A2 27.85%, #9D6C8D 92.61%, #FF15A2 92.61%);
  left: 110px;
  top: 30px;
}

.shape:last-child {
  height: 250px;
  width: 250px;
  background: linear-gradient(141.69deg, #F34EB1 24.8%, #EE5635 89.75%);
  right: 370px;
  bottom: -30px;
}

form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  background: linear-gradient(122.8deg, rgba(255, 255, 255, 0.4) 9.19%, rgba(255, 255, 255, 0.1) 89.17%, rgba(255, 255, 255, 0.1) 89.17%);
  box-shadow: 0 0 40px rgba(4, 5, 13, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 36.036px;
  border: 2.7px solid;
  border-image-source: linear-gradient(125.89deg, rgba(255, 255, 255, 0.4) 16.05%, rgba(191, 186, 247, 0.8) 41.67%, rgba(190, 185, 247, 0.4) 41.68%, rgba(133, 123, 240, 0.4) 64.72%, rgba(84, 70, 234, 0.4) 89.35%);
  padding: 50px 50px;
}

form * {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  backdrop-filter: none;
}

h1,
a {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  color: white;
}

form h3 {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 110%;
  /* or 81px */

  letter-spacing: 0.135em;
  text-align: center;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 0 13px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(10, 7, 49, 0.5);
}

input:focus {
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

::placeholder {
  color: rgba(10, 7, 49, 0.5);
}

#eye {
  background: #fff;
  color: #333;
  border-radius: 0px 5px 5px 0px;

  padding: 10px 10px;
  float: right;
  position: relative;
  right: 3%;
  z-index: 5;

  cursor: pointer;
}

#eye:hover {
  color: gray;
}

.check {
  margin-top: 5px;
  width: 20px;
  float: left;
}

button {
  margin-top: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 13px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

}

button:hover {
  background: aquamarine;
  transform: translatey(3px);
  box-shadow: auto;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.6s;
  z-index: -1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color: #4E44C8;
  ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  transition: all 0.4s;
  cursor: pointer;
}

.slider::before {
  position: absolute;
  content: "";
  background: linear-gradient(166.37deg, #FFCE31 29.88%, #FF6F31 93.79%);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  left: 5px;
  bottom: 5px;
  transition: 0.4s;
}

.slider::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: #4E44C8;
  ;
  border-radius: 50%;
  left: -26px;
  bottom: 4px;
  transition: 0.4s;
}

input:checked+.slider::before {
  transform: translatex(40px);
}

input:checked+.slider::after {
  transform: translatex(60px);
}

input:checked~.bg {
  background: #BEC0FF;
}

input:checked~form {
  backdrop-filter: blur(3px);
}

#logo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
}


.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
  cursor: pointer;
}

a:hover {
  background-color: #FFCE31;
}

.onboarding h1 {
  position: absolute;
  width: 501px;
  height: 136px;
  left: 116px;
  top: 194px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 5em;
  line-height: 14xs0.62%;
  /* or 67px */

  text-align: center;

  color: #FFFFFF;
}

#sweating-girl {
  position: absolute;
  width: 300px;
  height: 952.77px;
  left: 50%;
  top: 10%;
}

#skip {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 10%;
}

#next {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 90%;
}
