<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>popplex</title>
    <link rel="stylesheet" href="../static/css/onboarding.css">
</head>

<body>
    <main>
        <div class="onboarding-box">
            <div class="text-wrap">
                <div class="text-group">
                    <h2>Find yourself confused in class ?</h2>
                    <h2> Feel completely lost and lonely ?</h2>
                    <h2>Let's pop your confusion <a href="/splash"> here</a> !</h2>
                </div>
            </div>
            <div class="images-wrapper">
                <img src="../static/img/img-1.png" alt="" class="image img-1 show">
                <img src="../static/img/img-2.png" alt="" class="image img-2">
                <img src="../static/img/img-3.png" alt="" class="image img-3">
            </div>
            <div class="bullet-slider">
                <div class="bullets">
                    <span class="active" data-value="1"></span>
                    <span data-value="2"></span>
                    <span data-value="3"></span>
                </div>
            </div>
        </div>
    </main>
    <!-- javascript -->
    <script src="../static/js/onboarding.js"></script>

</body>

</html>