<!-- IMPORTANT: 
1. to adjust the confusometer using JS go to the .meter-fill and transform:rotate and change
the value inside accordingly
2. To adjust the specifiermeter level change the value within HTML
3. To adjust the specifiermeter order change the order at the end of the CSS file*/-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/confusometer.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>ConfusoMeter</title>
      </head>

    <body>
        <div class = "miscellaneous">
            <a href="../static/css/review-home.html">
                <i class="material-icons arrow" style="font-size:36px;">arrow_back</i> 
            </a>

            <div class="circle">
                <a href="">
                <img class="profile" src="../static/img/profile.jpg" alt="profile">
                </a> 
            </div>
        </div>  

        <div class = "confusometer">
            <h1>Confuso-Meter</h1>
            <div class="mainmeter-wrap">
                <div class="meter-body">
                    <div class="meter-fill"></div>
                    <div class="meter-inner"></div>
                </div>
            
            <div class="mainmeter-number">
                <h2 class="mainmeter-number">{{ percent_confused }}%</h2>
            </div>
            </div>
            
        </div>

        <div class = "specifiers">
            <div class="specifiertext">
                <h1 class="specifiers">Could you please...?</h1>
            </div>
            <div class="specifiermeter-wrap">
                <div class="repeatyourself specifiermeter">
                    <div class="specifiermeter-header"><p>Repeat last : {{ num_repeat }}</p></div>
                    <div class="specifiermeter-meter">
                        <meter value="50" min="0" max="100" low="0" high="100"></meter>
                    </div>
                </div>
                <div class="slowdown specifiermeter">
                    <div class="specifiermeter-header"><p>Slow Down : {{ num_slow }}</p></div>
                    <div class="specifiermeter-meter">
                        <meter value="40" min="0" max="100" low="0" high="100"></meter>
                    </div>
                </div>
                <div class="rephrase specifiermeter">
                    <div class="specifiermeter-header"><p>Rephrase last : {{ num_rephrase }}</p></div>
                    <div class="specifiermeter-meter">
                        <meter value="25" min="0" max="100" low="0" high="100"></meter>
                    </div>
                </div>
                <div class="provideexample specifiermeter">
                    <div class="specifiermeter-header"><p>Provide Example : {{ num_example }}</p></div>
                    <div class="specifiermeter-meter">
                        <meter value="10" min="0" max="100" low="0" high="100"></meter>
                    </div>
                </div>
            </div>
        </div>

        <div class = "logowrapper">
            <img class = "icon" src = "../static/img/icon.svg"></img>
        </div>
        </div>
            <a href="/teacherEnd"><button>End of Class</button></a>
            <a href="/logout"><button>Logout</button></a>
        </div>

    </body>


  
</html>