<!-- In order to add more 'courses', simply add another HTML element at the bottom with
the same structure as any table-content class

To-Do:
1. Need help with JS to re-order elements based on time/date/name etc
2. WIP - flexboxing to ensure consistency of profile pic, back arrow, logo
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/review-home.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Review Home</title>
      </head>
      
    <body>
      <div class = "title">
        <h1>Select Class for review</h1>
      </div>
      
      <div class="circle">
        <a href="">
          <img class="profile" src="../static/img/profile.jpg" alr="profile">
        </a> 
      </div>

      <a href="/teacherClass">
        <i class="material-icons arrow" style="font-size:36px;">arrow_back</i> 
      </a>
      
      
        <div class = "reviewtable">
          <div class ="table-header table-line">
            <div class = "table-element course">
              <p>Course</p>
              <a href=""><i class="material-icons rearrange" style="font-size:1em;">keyboard_arrow_up</i></a> 
            </div>
            <div class = "table-element lecture">
              <p>Lecture Name</p>
              <a href=""><i class="material-icons rearrange" style="font-size:1em;">keyboard_arrow_up</i></a> 
            </div>
            <div class = "table-element date">
              <p>Date</p>
              <a href=""><i class="material-icons rearrange" style="font-size:1em;">keyboard_arrow_up</i></a> 
            </div>
            <div class = "table-element time">
              <p>Time</p>
            </div>
            <div class = "table-element confuso">
              <p>Confuso-Meter</p>
              <a href=""><i class="material-icons rearrange" style="font-size:1em;">keyboard_arrow_up</i></a> 
            </div>
          </div>

          <div class = "contentwrapper">
            <div class = "contentflex">
              <a class = "linktoclass" href="/profPostlecture"><div class ="table-content table-line">
                <div class = "table-element course"><p>GRAC-420</p></div>
                <div class = "table-element lecture"><p>League Fundamentals</p></div>
                <div class = "table-element date"><p>12/08/21</p></div>
                <div class = "table-element time"><p>01:00 - 04:00</p></div>
                <div class = "table-element confuso"><p>99.99%</p>
                </div>
              </div></a>

              <a class = "linktoclass" href="/profPostlecture"><div class ="table-content table-line">
                <div class = "table-element course"><p>BLUE-001</p></div>
                <div class = "table-element lecture"><p>Intro to Figma</p></div>
                <div class = "table-element date"><p>09/05/2021</p></div>
                <div class = "table-element time"><p>14:00 - 15:32</p></div>
                <div class = "table-element confuso"><p>1%</p>
                </div>
              </div></a>

              <a class = "linktoclass" href="/profPostlecture"><div class ="table-content table-line">
                <div class = "table-element course"><p>CIS-160</p></div>
                <div class = "table-element lecture"><p>Pain and Trauma: A Seminar</p></div>
                <div class = "table-element date"><p>12/25/2021</p></div>
                <div class = "table-element time"><p>00:00 - 23:59</p></div>
                <div class = "table-element confuso"><p>160%</p>
                </div>
              </div></a>

              <a class = "linktoclass" href="/profPostlecture"><div class ="table-content table-line">
                <div class = "table-element course"><p>SPRK-001</p></div>
                <div class = "table-element lecture"><p>DEVP 1</p></div>
                <div class = "table-element date"><p>11/10/2021</p></div>
                <div class = "table-element time"><p>14:00 - 15:32</p></div>
                <div class = "table-element confuso"><p>13%</p>
                </div>
              </div></a>

              <a class = "linktoclass" href="/profPostlecture"><div class ="table-content table-line">
                <div class = "table-element course"><p>CVD-019</p></div>
                <div class = "table-element lecture"><p>;((((</p></div>
                <div class = "table-element date"><p>02/15/2020</p></div>
                <div class = "table-element time"><p>04:00 - 06:30</p></div>
                <div class = "table-element confuso"><p>50%</p>
                </div>
              </div></a>
            </div>
          </div>
        </div>  
        
        <div class="imgwrapper">
          <img class = "icon" src = "../static/img/icon.svg"></img>
        </div>
        



    </body>
    

</html>
